<%- include('../partials/head') %>
    <div class="container">

        <div class="card mt-2" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title"><%= food.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%= food.company %>
                </h6>
                <p class="card-text"><%= food.notes %></p>
                <a href="/users/<%= user._id %>/foods" class="card-link">Go Back</a>
                <div class="d-flex justify-content-between mt-3">
                <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete this food</button>
                </form>
                <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit">
                    <button type="submit" class="btn btn-warning">Edit</button>
                </a>
                </div>
            </div>
        
    </div>
<%- include('../partials/footer') %>